<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Find Happi</title>
  </head>
  <body>
    <header><img src="/img/logo-placeholder.png" alt="Find Happi" /></header>
    {{{body}}}
  </body>
</html>
