<div class="secondary-page-section">
  <div class="row">
    <div class="col-md-12 secondary-page-title">
      <h2>Edit Profile</h2>
    </div>
  </div>
  <div id="plan-info" class="row">
    <div class="col-md-4">
      <h4>Username: user</h4>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
  </div>
  <div id="" class="row">
    <div class="col-md-4">
      <h4>First Name: John</h4>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
  </div>
  <div id="" class="row">
    <div class="col-md-4">
      <h4>Last Name: Doe</h4>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
  </div>
  <div id="" class="row">
    <div class="col-md-4">
      <h4>Email: jdoe@email.com</h4>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
  </div>
  <div id="" class="row">
    <div class="col-md-4">
      <h4>Phone: 215-555-1212</h4>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
  </div>
  <div id="" class="row">
    <div class="col-md-4">
      <h4>Address: 123 Any Street</h4>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
  </div>
  <div id="" class="row">
    <div class="col-md-4">
      <h4>Address: </h4>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
  </div>
  <div id="" class="row">
    <div class="col-md-4">
      <h4>Zip: </h4>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
