<div id="main-section">
  <div class="row">
    <div class="col-md-6 main-heading">
      <div class="col-md-3">

      </div>
      <div id="heading-container" class="col-md-9">
        <h1>What's Your Happi?</h1>
        <button type="button" name="button">Sign Up</button>
      </div>
    </div>
    <div id="man" class="col-md-3">
      <img height="50%" width="50%" src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Placeholder_male_superhero_c.png" alt="" />
    </div>
    <div id="woman" class="col-md-3">
      <img height="50%" width="50%" src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Placeholder_female_superhero_c.png" alt="" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
</div>
<div id="subsection-1">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10 subheading-left">
      <h2>How FindHappi Can Help You</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-5">
      <h3>Every day you make potentially life changing decisions</h3>
      <h4>Each life changing decision that you make impacts your future happiness.</h4>
      <h4>FindHappi helps to show you the future impact of the decisions you are making now,
        by leveraging data.</h4>
    </div>
    <div class="col-md-5">

    </div>
  </div>
</div>
<div id="subsection-2">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10 subheading-left">
      <h2>How Does FindHappi Work</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-5">
      <h3>FindHappi is simple</h3>
      <h4>FindHappi looks at data from core areas of your life, such as your education, lifestyle, physical health
        and professional prospects. FindHappi then uses that data to provide you with a Happi Score. Your Happi
        Score can be anywhere between 0 and 100, and is a measure of your relative potential happiness. </h4>
    </div>
    <div class="col-md-5">

    </div>
  </div>
</div>
