<div class="secondary-page-section">
  <div class="row">
    <div class="col-md-12 secondary-page-title">
      <h2>My Account</h2>
    </div>
  </div>
  <div id="plan-info" class="row">
    <div class="col-md-4">
      <h3>Plan Info</h3>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
  </div>
  <div id="" class="row">
    <div class="col-md-4">
      <h4><strong>Current Plan: </strong>Plan name</h4>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
  </div>
  <div id="" class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-default">Upgrade</button>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
