<div class="secondary-page-section">
  <div id="happi-container-row" class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <div id="happi-container" class="">
        <div id="profile-box" class="">
          <div id="profile-circle" class="">
            <img id="profile-image-container" class="img-circle" src="img/placeholder-hi.png" alt="" />
          </div>
        </div>
        <div id="happi-number-box" class="">
          <div class="number-container">
            <div id="number-circle" class="circle">
              <h2 id="number" class="">93</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">

    </div>
  </div>
  <div class="row">

  </div>
</div>
