<div id="happi-container" class="">
  <div id="profile-box" class="">
    <div id="profile-circle" class="">
      <img id="profile-image-container" src="img/placeholder-hi.png" alt="" />
    </div>
  </div>
  <div id="happi-number-box" class="">
    <div class="circle-container">
      <div id="number-circle" class="circle">
        <h2 id="number">93</h2>
      </div>
    </div>
  </div>
</div>
