h1{
  font-size: 54px;
  font-weight: bold;
}
.navbar{
  background-color: white;
  border: 1px solid;
}
.container{
  margin: 0 0 0 0;
  border: 1px solid;
  width: 100%;
}
.row{
  border: 1px solid;
  margin: 0 0 0 0;
}
.col-md-8{
  border: 1px solid;
}
.col-md-6{
  border: 1px solid;
}
.col-md-4{
  border: 1px solid;
}
.col-md-3{
  border: 1px solid;
}
.subheading-left{
  text-align: left;
  padding-bottom: 40px;
  text-transform: uppercase;
}
.main-heading{
  text-align: left;
  padding-top: 160px;
}
.circle-container{
  padding: 4%;

  /*text-align: center;*/
}
.number-circle {
	border-radius: 50%;
  border: 3px solid;
	width: 36px;
	height: 36px;
}
.small-number{
  padding: 2px  0 0 0px;
  margin-top: 0px
}
#main-section{
  border: 1px solid;
  padding: 160px 0 0 0;
  height: 960px;
}
#subsection-1{
  border: 1px solid;
  padding: 80px 0 0 0;
  height: 960px;
}
#subsection-2{
  border: 1px solid;
  padding: 80px 0 0 0;
  height: 960px;
}
#happi-container{
  border: 1px solid;
  padding-left: 30%;
}
#happi-number-box{
  border: 1px solid;
  width: 328px;
}
#number{
  font-size: 180px;
  text-align: center;
  padding-top: 35px;
}
#profile-box{
  border: 1px solid;
  width: 328px;
  padding: 10px 0 10px 112px;
}
#profile-circle{
  border-radius: 50%;
  border: 1px solid;
	width: 100px;
	height: 100px;
}
#profile-image-container{
  height: 68%;
  width: 70%;
  padding: 27px 0 0 32px;
}
#heading-container{
  padding-bottom: 0px;
}
#man{
  padding-top: 80px;
}
#woman{
  padding-top: 80px;
}
