h1{
  font-size: 54px;
  font-weight: bold;
}
.img-circle {
    border-radius: 50%;
}
.navbar{
  background-color: white;
  border: 1px solid;
}
.container{
  margin: 0 0 0 0;
  border: 1px solid;
  width: 100%;
}
.row{
  border: 1px solid;
  margin: 0 0 0 0;
}
.col-md-8{
  border: 1px solid;
}
.col-md-6{
  border: 1px solid;
}
.col-md-4{
  border: 1px solid;
}
.col-md-3{
  border: 1px solid;
}
.col-md-2{
  border: 1px solid;
}
.secondary-page-section{
  padding: 80px 0 0 0;
}
.subheading-left{
  text-align: left;
  padding-bottom: 40px;
  text-transform: uppercase;
}
.main-heading{
  text-align: left;
  padding-top: 160px;
}
.number-container{
  height: 260px;
}
.connected-data{
  text-align: center;
}
/*.number-circle {
  border: 1px solid;
}*/
.small-number{
  padding: 2px  0 0 0px;
  margin-top: 0px
}
.email-field{
  padding: 0px 0 0px 0;
}
.secondary-page-title{
  text-align: center;
}
.signin-signup-text{
  text-align: center;
  padding-bottom: 40px;
}
#main-section{
  border: 1px solid;
  padding: 160px 0 0 0;
  height: 960px;
}
#subsection-1{
  border: 1px solid;
  padding: 80px 0 0 0;
  height: 960px;
}
#subsection-2{
  border: 1px solid;
  padding: 80px 0 0 0;
  height: 960px;
}
#happi-container-row{
  padding-top: 80px;
}
#happi-container{
  border: 1px solid;
}
#happi-number-box{
  border: 1px solid;
  margin: 0 60px;
}
#number{
  font-size: 80px;
  text-align: center;
  /*border: 1px solid;*/
  margin: 120px 0 0 0;
  /*padding: 30px 30px 30px 30px;*/
}
#profile-box{
  border: 1px solid;
  margin: 0 60px;
}
#profile-circle{
  text-align: center;
  padding: 10px
}
#profile-image-container{
  height: 30%;
  width: 30%;
  padding: 6px 6px 6px 6px;
  border: 1px solid;
}
#heading-container{
  padding-bottom: 0px;
}
#man{
  padding-top: 140px;
}
#woman{
  padding-top: 140px;
}
#signin{
  text-align: center;
  padding: 80px 0 40px 0;
}
#plan-info{
  padding: 60px 0 0 0;
}
@media screen and (max-width: 414px) {
  #number{
    font-size: 60px;
    /*text-align: center;
    border: 1px solid;
    margin: 80px 40px 40px 40px;
    padding: 50px 50px 50px 50px;*/
  }
}
